{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Đăng Ký</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container">
      <h2>Đăng Ký</h2>
      <form action="./registerpost" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Tên người dùng:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label"
            >Nhập lại mật khẩu:</label
          >
          <input
            type="password"
            class="form-control"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại:</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            name="phone"
            required
          />
        </div>
        <div class="mb-3">
          <input type="submit" class="btn btn-success" value="Đăng Ký" />
          <button
            type="button"
            class="btn btn-primary"
            onclick="window.location.href = '/login'"
          >
            Đăng Nhập
          </button>
        </div>
      </form>
    </div>
    {% bootstrap_javascript %}
  </body>
</html>
